.bg-reddish {
  background-color: #ff4342;
  border-color: #ff4342; }

.bg-reddish > .container > a {
  color: white; }

.navbar-light .navbar-nav .nav-link {
  color: #ffffff; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

.navbar-light .navbar-nav .nav-link {
  color: #ffffff; }

.bg-reddish > .container > a {
  color: white; }
